html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: arial;
}

#blocker {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

#instructions {
  width: 100%;
  height: 100%;
  padding-top: 200px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.dg.main {
    text-shadow: none;
}

.dg .cr.function {
    border-left: 0px !important;
    border-bottom: 1px solid #99c2ff;
    cursor: pointer;
    background-color: white;
    color:#848482;
    font-family:Verdana;
}

.dg .cr.function:hover {
    background-color: #99c2ff !important;
    color:white;
}


.dg.main .close-button {
    background-color:  #99c2ff !important;
    color: white;
    font-family:Verdana;
    text-shadow: none;   
}


.dg .cr.string {
    border-left: 3px solid #99c2ff !important;
    border-bottom: 0px;
    background-color: white;
    color:#848482;
    font-family:Verdana;
    text-shadow: none;
}


.dg li.title {
    padding-left: 16px;
    background: #6698FF !important;
    cursor: pointer;
    color:white;
    font-family:Verdana;
    text-shadow: none;
    border-bottom: 1px solid white !important;
}

.dg .c select {
    color:#848482;
    font-family:Verdana;
    text-shadow: none;
}

div #fpsText {
  color:#6698FF !important;
  font-family:Verdana;
  text-shadow: none;
  display: inline-block;
    bottom: 0;
}

#fps{
}


input{
  position: absolute;
  float: left;
  visibility: hidden;
}